# Copiar este archivo como .env y completar con los datos reales de Neon
# El DB_URL debe incluir ?sslmode=require al final

DB_URL=jdbc:postgresql://ep-xxx-xxxxxx.us-east-2.aws.neon.tech/restaurante?sslmode=require
DB_USER=tu_usuario_neon
DB_PASS=tu_password_neon

#Dentro de la carpeta frontend
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:8080
NEXT_PUBLIC_GOOGLE_CLIENT_ID=246481652157-9hdvqchb6v6jbifnu475rq4asss5j2s5.apps.googleusercontent.com
